body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #2D4356;

}

.container{
    color: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height:70vh;
    width:50vw;
    gap: 10px;
}

.row1{
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    background-color: #EF6262;
    align-items: center;
}
.row1div1{
    display: flex;
    
}

.row1div2{
    display: flex;
    flex-direction: column;
}

img{
    border:1px solid white;
    height: 4rem;
    width:4rem;
    object-fit: cover;
    border-radius: 50%;
}

.row2{
    height:15vh;
    border-radius: 0 0 0 0 ;
    background-color: #1D5B79;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.row2div2{
    display: flex;
    flex-wrap: wrap;
}

.row3{
    display: flex;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    background-color: #1D5B79;
    width: 100%;
    display: flex;
    align-items: end;
}
form{
    border-radius: 5px 0 0 5px;
    width:100%;
    display: flex;
}
input{
    background-color: #1D5B79;
    border-radius:0 5px 5px 0;
    width:45vw;
    height: 5vh;
}
button{
    background-color: #2D4356;
    border-radius: 10%;
    height: 6vh;
    width:5vw;
}
b{
    font-size:larger;
}

.crossbtn{
    width:50vw;
    display: flex;
    justify-content: end;
    
}

.fa-xmark{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size:xx-large;
    height: 50px;
    width:50px;
    background-color: #EF6262;
}
